# Multilayer Perceptron Using SciKit Learn

Luiz Felipe Raveduti Zafiro - RA: 120513 -
Artificial Intelligence - Federal University of SÃ£o Paulo (Unifesp) - 2020

## Imports

In [11]:
import pandas as pd
import numpy as np

## Dataset load and separation

In [12]:
df_rawData = pd.read_csv('glass.data', names=["ID", "RI", "Na", "Mg", "Al", "Si", 
                                              "K", "Ca", "Ba", "Fe", "Class"])
df_rawData.head()

   ID       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Class
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      1

In [13]:
# Separating the useful features and class types
df_features = df_rawData[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]
# Visualize the new data frame
df_features.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [14]:
# Converting to np array
X = np.asarray(df_features)
# Setting the y array -> With the classes
y = np.asarray(df_rawData['Class'])

print(X[0:3], '\n')
print(y[0:3])

[[1.52101e+00 1.36400e+01 4.49000e+00 1.10000e+00 7.17800e+01 6.00000e-02
  8.75000e+00 0.00000e+00 0.00000e+00]
 [1.51761e+00 1.38900e+01 3.60000e+00 1.36000e+00 7.27300e+01 4.80000e-01
  7.83000e+00 0.00000e+00 0.00000e+00]
 [1.51618e+00 1.35300e+01 3.55000e+00 1.54000e+00 7.29900e+01 3.90000e-01
  7.78000e+00 0.00000e+00 0.00000e+00]]

[1 1 1]

In [15]:
# Separating data to test and train (20% for testing)
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(149, 9)
(149,)
(65, 9)
(65,)

## Creating model and training

In [16]:
from sklearn.neural_network import MLPClassifier

# Creating the classifier
model = MLPClassifier()
# Fitting
model.fit(X_train, y_train)
# Predict based on the X_tests
y_prediction = model.predict(X_test)

## Results

In [17]:
from sklearn.metrics import classification_report

# Classificate based in the expected answers and the predicted by the mlp
print(classification_report(y_test, y_prediction))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00        25
           2       0.24      0.88      0.38        17
           3       0.00      0.00      0.00         7
           5       0.00      0.00      0.00         4
           6       0.00      0.00      0.00         4
           7       0.00      0.00      0.00         8

    accuracy                           0.23        65
   macro avg       0.04      0.15      0.06        65
weighted avg       0.06      0.23      0.10        65

/home/zafiro/anaconda3/envs/python3_env/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))